.App {
  text-align: center;
}

.movie-search-component {
  text-align: center;
}
.movie-input {
  display: inline-block;
  float: left;
  font-size: 1.3em;
  margin: 50px;
  padding: 10px;
  height: 30px;
  width: 40%;

}
